<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal OAuth example with Praw and Flask</title>
</head>
<body>
    <p>Minimal OAuth example with Praw and Flask</p>
    <br>
    {% if auth_url %}
    <a href={{ auth_url }}>Click here to login with Reddit account</a>
    {% else %}
    <p>Hello, {{ user }}.</p>
    <br>
    <a href="/logoff">Logoff</a>
    {% endif %}
</body>
</html>
